<!-- content -->
<div class="mt-[35px] px-[2vw] md:px-[0vw]">
	<h1 class="font-bold text-3xl pl-[2vw] md:pl-[0vw]">FAQ posts</h1>
	<h3 class="text-2xl whitespace-nowrap pl-[2vw] md:pl-[0vw]">Here you can add FAQ posts</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px] pl-[2vw] md:pl-[0vw]">
			<a href="/admin_faq"><li class="text-primary_color">Add</li></a>
			<a href="/faq_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/faq_remove"><li class="hover:text-hover_color">Remove</li></a>
		</ul>
	</div>

	{{#if error_messages.length}}
	<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
		<h3 class="font-bold mt-5">Couldn't create the FAQ post because:</h3>
		<ul class="mt-4 list-disc p-4">
			{{#each error_messages}}
				<li class="text-red-600 font-bold">{{this}}</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}

	<form action="/faqs/add" method="post" class="mt-[35px] bg-gray-100 space-y-4 p-4 shadow-xl">
		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="post_question">Project id: </label>
			<input type="number" name="projectid" id="projectid" value="{{projectid}}" class="pl-1.5 border border-solid border-gray-300 rounded transition ease-in-out focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none">
		</div>

		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="post_question">Post question: </label>
			<input type="text" name="post_question" id="post_question" value="{{post_question}}" class="pl-1.5 border border-solid border-gray-300 rounded transition ease-in-out focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none">
		</div>

		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="post_answer">Post answer: </label>
			<textarea id="post_answer" name="post_answer" class="pl-1.5 border border-solid border-gray-300 rounded transition ease-in-out focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none w-full" rows="3" placeholder="Enter post answer">{{post_answer}}</textarea>
		</div>

		<div class="flex flex-col md:flex-row gap-4 whitespace-nowrap">
			<label for="post_date">Post date: </label>
			<input type="date" name="post_date" value="{{post_date}}" id="post_date" class="pl-1.5 border border-solid border-gray-300 rounded transition ease-in-out focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none">
		</div>

		<input type="submit" class="bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color hover:shadow-xl transition ease-in-out" name="add_post" id="add_post">
	</form>
</div>
