<!-- content -->
<div class="mt-[35px] px-[2vw] md:px-[0vw]">
	<h1 class="font-bold text-3xl pl-[2vw] md:pl-[0vw]">Blog posts</h1>
	<h3 class="text-2xl whitespace-nowrap pl-[2vw] md:pl-[0vw]">Here you can remove blog posts</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px] pl-[2vw] md:pl-[0vw]">
			<a href="/admin_blog"><li class="hover:text-hover_color">Add</li></a>
			<a href="/blog_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/blog_remove"><li class="text-primary_color">Remove</li></a>
		</ul>
	</div>

	{{#if access_error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't access the remove page because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each access_error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{else}}

	{{#if error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't remove the blog post because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

	<div class="overflow-x-auto mb-[4vw]">
		<table class="table-fixed mt-[15px]">
		<thead class="bg-gray-50 p-4">
			<tr>
				<th scope="col" class="py-3 px-6 text-start border-4 border-x-gray-300">Title</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Text</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Date</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Project Number</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Action</th>
			</tr>
		</thead>
		<tbody class="bg-gray-100 space-y-4 p-4">
			{{#if blogs.length}}
				{{#each blogs}}
					<tr>
						<form action="/blogs/remove/{{id}}" class="mt-[35px] space-y-4" method="post">
							<td class="py-3 px-6 border-4 border-x-gray-300">{{post_title}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300">{{post_text}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300 pr-[4vw] whitespace-nowrap">{{post_date}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300">{{projectid}}</td>
							<td class="border-4 border-r-gray-300 px-[2vw] pb-[2vw]"><input type="submit" value="Remove" class="bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color hover:shadow-xl transition ease-in-out" name="remove_post" id="remove_post"></td>
						</form>
					</tr>
				{{/each}}
			{{else}}
				<p>There are no projects at the moment.</p>
			{{/if}}
		</tbody>
		</table>
	</div>
	{{/if}}
</div>
