<!-- content -->
<div class="mt-[35px] px-[2vw] md:px-[0vw]">
	<h1 class="font-bold text-3xl pl-[2vw] md:pl-[0vw] text-nav_body_text_color">Pictures</h1>
	<h3 class="text-2xl md:whitespace-nowrap pl-[2vw] md:pl-[0vw] text-nav_body_text_color">Here you can remove project pictures</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px] pl-[2vw] md:pl-[0vw] text-nav_body_text_color">
			<a href="/admin_pictures"><li class="hover:text-hover_color">Add</li></a>
			<a href="/picture_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/picture_remove"><li class="text-primary_color">Remove</li></a>
		</ul>
	</div>

	{{#if access_error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't access the remove page because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each access_error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{else}}

	{{#if error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't remove the project picture because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

	<div class="overflow-x-auto mb-[4vw]">
		<table class="table-fixed mt-[15px]">
		<thead class="bg-gray-50 p-4">
			<tr>
				<th scope="col" class="py-3 px-6 text-start border-4 border-x-gray-300">Picture Title</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Picture Name</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Project id</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Action</th>
			</tr>
		</thead>
		<tbody class="bg-gray-100 space-y-4 p-4">
			{{#if pictures.length}}
				{{#each pictures}}
					<tr>
						<form action="/pictures/remove/{{id}}" method="post" class="mt-[35px] space-y-4">
							<td class="py-3 px-6 border-4 border-x-gray-300">{{picture_title}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300">{{picture_name}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300">{{projectid}}</td>
							<td class="border-4 border-r-gray-300 px-[2vw] pb-[2vw]"><input type="submit" value="Remove" class="mt-[35px] mb-[35px] bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color hover:shadow-xl transition ease-in-out" name="remove_picture" id="remove_picture"></td>
						</form>
					</tr>
				{{/each}}
			{{else}}
				<p>There are no pictures at the moment.</p>
			{{/if}}
		</tbody>
		</table>
	</div>
	{{/if}}
</div>
