<!-- content -->
<div class="mt-[35px]">
	<h1 class="font-bold text-3xl">Pictures</h1>
	<h3 class="text-2xl whitespace-nowrap">Here you can edit project pictures</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px]">
			<a href="/admin_pictures"><li class="hover:text-hover_color">Add</li></a>
			<a href="/picture_edit"><li class="text-primary_color">Edit</li></a>
			<a href="/picture_remove"><li class="hover:text-hover_color">Remove</li></a>
		</ul>
	</div>


	{{#if access_error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't access the edit page because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each access_error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{else}}

	{{!-- copied code from https://flowbite.com/docs/components/tables/ --}}
	<div class="pt-4 dark:bg-gray-900 flex flex-row gap-x-3">
		<form action="/picture_edit_search" method="get" class="flex flex-row items-center gap-x-3">
			<label for="picture_table_search" class="sr-only">Search</label>
			<div class="relative mt-1">
				<div class="flex absolute inset-y-[10px] left-0 pl-3 pointer-events-none">
					<svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
					</svg>
				</div>
				<input type="text" id="picture_table_search" name="picture_table_search" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
			</div>
			<input type="submit" value="Search" class="mt-[35px] mb-[35px] bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color hover:shadow-xl transition ease-in-out" name="search_picture" id="search_picture">
		</form>
		<a href="/picture_edit"><button type="button" class="mt-[35px] mb-[35px] bg-secondary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-gray-900 hover:shadow-xl transition ease-in-out">Reset search</button></a>
	</div>

	{{#if error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't edit the picture post because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

	{{#if search_error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't search the picture edit table because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each search_error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}


	<table class="table-fixed mt-[15px]">
		<thead class="bg-gray-50 p-4">
			<tr>
				<th scope="col" class="py-3 pl-[2vw] text-start border-4 border-r-gray-300">Picture Title</th>
				<th scope="col" class="py-3 pl-[2vw] text-start border-4 border-r-gray-300">Picture Name</th>
				<th scope="col" class="py-3 pl-[2vw] text-start border-4 border-r-gray-300">Project id</th>
				<th scope="col" class="py-3 pl-[2vw] text-start border-4 border-r-gray-300">Action</th>
			</tr>
		</thead>
		<tbody class="bg-gray-100 space-y-4 p-4">
			{{#if pictures.length}}
				{{#each pictures}}
					<tr>
						<form action="/pictures/edit/{{id}}" method="post">
							<td class="hover:text-primary_color py-3 pr-[2vw] pl-[1vw] border-4 border-x-gray-300"><input type="text" name="picture_title" value="{{picture_title}}" class="bg-gray-100 py-2 px-4"></td>
							<td class="hover:text-primary_color py-3 pr-[2vw] pl-[1vw] border-4 border-r-gray-300"><input type="text" name="picture_name" value="{{picture_name}}" class="bg-gray-100 py-2 px-4"></td>
							<td class="hover:text-primary_color py-3 pr-[2vw] pl-[1vw] border-4 border-r-gray-300"><input type="number" name="projectid" value="{{projectid}}" class="bg-gray-100 py-2 px-4"></td>
							<td class="pr-[2vw] pl-[1vw] border-4 border-r-gray-300"><input type="submit" value="Confirm edit" class="mt-[35px] mb-[35px] bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color hover:shadow-xl transition ease-in-out" name="edit_pictures" id="edit_pictures"></td>
						</form>
					</tr>
				{{/each}}
			{{else}}
				<p>There are no pictures at the moment.</p>
			{{/if}}
		</tbody>
	</table>
	{{/if}}
</div>
