<!-- content -->
<div class="mt-[35px]">
	<h1 class="font-bold text-3xl">Projects</h1>
	<h3 class="text-2xl whitespace-nowrap">Here you can remove projects</h3>

	<div>
		<ul class="flex flex-row gap-10 mt-[35px]">
			<a href="/admin_projects"><li class="hover:text-hover_color">Add</li></a>
			<a href="/projects_edit"><li class="hover:text-hover_color">Edit</li></a>
			<a href="/projects_remove"><li class="text-primary_color">Remove</li></a>
		</ul>
	</div>

	{{!-- copied code from https://flowbite.com/docs/components/tables/ --}}
	<div class="pt-4 dark:bg-gray-900">
		<label for="table-search" class="sr-only">Search</label>
		<div class="relative mt-1">
			<div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
				<svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
				</svg>
			</div>
			<input type="text" id="table-search" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
		</div>
	</div>

	{{#if error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold mt-5">Couldn't remove the project because:</h3>
			<ul class="mt-4 list-disc p-4">
				{{#each error_messages}}
					<li class="text-red-600 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{else}}

	<table class="table-fixed mt-[15px] mb-[4vw]">
		<thead class="bg-gray-50 p-4">
			<tr>
				<th scope="col" class="py-3 px-6 text-start border-4 border-x-gray-300">Name</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Sub-headline</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Description</th>
				<th scope="col" class="py-3 px-6 text-start border-4 border-r-gray-300">Action</th>
			</tr>
		</thead>
		<tbody class="bg-gray-100 space-y-4 p-4">
			{{#if projects.length}}
				{{#each projects}}
					<tr>
						<form action="/projects/remove/{{id}}" class="mt-[35px] space-y-4" method="post">
							<td class="py-3 px-6 border-4 border-x-gray-300">{{project_name}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300">{{project_sub_headline}}</td>
							<td class="py-3 px-6 border-4 border-r-gray-300">{{project_description}}</td>
							<td class="border-4 border-r-gray-300 px-[2vw] pb-[2vw]"><input type="submit" value="Remove" class="bg-primary_color text-white font-light py-2 px-4 rounded mt-[35px] hover:bg-hover_color" name="add_post" id="add_post"></td>
						</form>
					</tr>
				{{/each}}
			{{else}}
				<p>There are no projects at the moment.</p>
			{{/if}}
		</tbody>
	</table>
	{{/if}}
</div>
