<!-- content -->
<div class="flex flex-col items-center h-screen mb-[20vw]">
	<div class="flex container pl-[10vw] self-start justify-start mx-0">
		<a href="/projects"><button type="button" class="bg-primary_color text-white mt-[35px] hover:bg-hover_color rounded-lg py-[1.2vw] px-[3.4vw] hover:shadow-xl transition ease-in-out">Back</button></a>
	</div>
	
	{{#if error_messages.length}}
		<div class="p-4 space-y-4 rounded mt-[35px] border-4 border-red-600">
			<h3 class="font-bold">Couldn't fetch the project pictures because:</h3>
			<ul class="list-disc ml-4">
				{{#each error_messages}}
					<li class="text-red-600 mt-4 font-bold">{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{else}}
		{{#if project}}
			<div class="flex flex-col items-center text-light_nav_body_text_color mt-[35px] bg-secondary_color py-[6vw] md:px-[9vw] px-[3vw] rounded mx-[5vw]">
				<h1 class="text-3xl">{{project.project_name}}</h1>
				<p>{{project.project_sub_headline}}</p>
				<ul class="flex flex-row gap-10 mt-[35px] items-center">
					<a href="/projects/{{project.id}}"><li class="hover:text-primary_color md:text-[2vw] text-[3vw]">Description</li></a>
					<a href="/projects/{{project.id}}/project_picture"><li class="text-primary_color md:text-[2vw] text-[3vw]">Project pictures</li></a>
					<a href="/projects/{{project.id}}/project_blog"><li class="hover:text-primary_color md:text-[2vw] text-[3vw]">Blog</li></a>
					<a href="/projects/{{project.id}}/project_faq"><li class="hover:text-primary_color md:text-[2vw] text-[3vw]">FAQs</li></a>
				</ul>
				<ul class="flex flex-col items-center mt-[35px] bg-darker_secondary_color rounded py-[5vw]">
					<h4 class="mb-8 text-3xl">Project Pictures</h4>
					{{#each pictures}}
						<li class="mb-[25px] self-start flex flex-col items-center">
							<img src="/images/{{picture_name}}" class="w-[50%] border-4 border-primary_color rounded">
						</li>
					{{/each}}
				</ul>

			</div>
		{{else}}
			<p>There are no pictures at the moment.</p>
		{{/if}}
	{{/if}}
</div>